.project-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border-radius: 35px;
}

.project-column {
  width: 25%; /* Dört sütunu eşit genişlikte yapar */
  margin-right: 10px; /* Sütunlar arası boşluk ekler */
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 35px;
  background-color: #f8f9fa;
}

.project-column:last-child {
  margin-right: 0; /* Son sütun için sağdaki margini sıfırlar */
}

.project-column-title {
  text-align: center;
  color: #28a745; /* Yeşil tonu */
  margin-bottom: 10px;
}

.project-card {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 35px;
  background-color: #f8f9fa;
  cursor: grab;
}
.add-task-container {
  position: fixed;
  bottom: 10px;
  left: 10px; 
}

.project-dropdown {
  width: 25%;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  background-color: #f8f9fa;
  border: 1px solid #28a745;
  border-radius: 35px;
  font-size: 1.250rem;
  appearance: none;
 }
 
 .project-dropdown option {
  background-color: #f8f9fa;
  border: 1px solid #28a745;
  border-radius: 35px;
  font-size: 1.05rem;
  appearance: none;
 }

 .hello {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #f8f9fa;
  border: 1px solid #28a745;
  border-radius: 25px;
 }
 h1 {
  font-size: 25px;
 }

 .add-task input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #28a745;
  border-radius: 25px;
 }
 
 .add-task button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 15px;
 }