.project-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.project-column {
  width: 20%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 35px;
  background-color: #f8f9fa;
}

.project-column-title {
  text-align: center;
  color: #28a745; /* Yeşil tonu */
  margin-bottom: 10px;
}

.project-card {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 35px;
  background-color: #f8f9fa;
  cursor: grab;
}
