.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px; 
  position: fixed;
  right: 20px;
  bottom: 20px;
}

   /*tüm butonlar*/
   button {
    margin-right: 20px;
    padding: 10px;
    background-color: #28a745; /* Yeşil tonu */
    color: #f8f9fa;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 15px;
    margin-left: 10px; /* Doğru syntax */
    margin-top: 20px;
    margin-right: 0
    
  }
  
  button:hover {
    background-color: #218838; /* Koyu yeşil tonu */
  }
